{% extends 'catalog/home.html' %}
{% load my_foto %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        {% if user.is_authenticated %}
        <p>
            <a href="{% url 'blogpost:create' %}" class="btn btn-primary my-2">Добавить статью</a>
        </p>
         {% else %}
      <p>
        <a class="btn btn-danger my-2">Добавлять или редактировать статьи могут только авторизованные пользователи </a>
      </p>
      {% endif %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <img src="{{object.image | media_filter}}" height="99" class="img-thumbnail">
                        <p class="card-text">{{ object.title }}</p>
                        <p class="card-text">{{ object.content }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'blogpost:view' object.pk %}" type="button"
                                   class="btn btn-sm btn-outline-primary">Посмотреть</a>
                                 {% if user.is_authenticated %}
                                <a href="{% url 'blogpost:edit' object.pk %}" type="button"
                                   class="btn btn-sm btn-outline-warning">Редактировать</a>
                                <a href="{% url 'blogpost:delete' object.pk %}" type="button"
                                   class="btn btn-sm btn-outline-danger">Удалить</a>
                                {% endif %}
                            </div>
                            {% if user.is_authenticated %}
                            {% if object.is_active %}
                            <a class="btn btn-sm btn-warning"
                               href="{% url 'blogpost:toggle_activity' object.pk %}">Деактивировать</a>
                            {% else %}
                            <a class="btn btn-sm btn-success"
                               href="{% url 'blogpost:toggle_activity' object.pk %}">Активировать</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
